[submodule "external/busybox"]
	path = external/busybox
	url = https://github.com/Droidspaces/busybox-droidspaces.git
[submodule "third_party/trierarch"]
	path = third_party/trierarch
	url = https://github.com/Beauty114514/trierarch
